{% extends "core/_base.html" %}

{% block title %}
<div class"logo-word">O organizacji<br />Liberation Warsaw</div>
{% endblock %}


{% block content %}

<h2>O Nas</h2>

  <div class="home-content">
    <div class="home-events-and-text">

      <div class="info-section about">
        <p>Liberation Warsaw jest organizacją patronacką, która organizuje również grupę warszawską Anonymous for the Voiceless oraz Warsaw Animal Save z ramienia The Save Movement. Jesteśmy niehierarchiczną, oddolną grupą, która podejmuje decyzje w oparciu o konsensus. Cenimy pokojowy charakter naszych akcji, transparentność, z jaką działamy oraz wzmacnianie marginalizowanych głosów. Liberation Warsaw działa w Warszawie od 2018 roku.</p>
        <p>Prowadzimy różnorodne wydarzenia związane z aktywizmem, w tym czuwania przy ubojniach, Sześciany Prawdy, promowanie weganizmu, wydarzenia związane z budowaniem społeczności i edukacją, takie jak warsztaty, orientacje dla nowych aktywistów i dni wolontariatu dla zwierząt we współpracy z różnymi lokalnymi sanktuariami i schroniskami.</p>
      </div>

    </div>

  </div>

<h2>Zarządzenia Liberation Warsaw</h2>

  <div class="home-content">
    <div class="home-events-and-text">
      <div class="info-section">
          <p><a href="/bylaws">Dowiedz się więcej</a> na temat wartości, które wyznajemy oraz w jaki sposób podejmujemy decyzje.</p>
      </div>
      <div class="photo-group">
        <img class="polaroid" src="./static/images/photos/6.jpg">
        <img class="polaroid" src="./static/images/photos/7.jpg">
        <img class="polaroid" src="./static/images/photos/3.jpg">
        <img class="polaroid" src="./static/images/photos/8.jpg">
      </div>
    </div>
  </div>


{% endblock %}
