{% extends "core/_base.html" %}
{% load liberationwarsaw %}


{% block title %}
<div class"logo-word">Anonymous for the Voiceless</div>
{% endblock %}


{% block content %}
<div class="save-page">

  <div class="all-content">

    <div class="primary-content">

      <div class="video">
        <img src="/static/images/anonymous-cover.jpg">
      </div>

      <h2>About Anonymous for the Voiceless</h2>
      <div class="about-save">
        <p>Anonymous for the Voiceless is an animal rights organization that specializes in street activism. We perform demonstrations in the public, and engage with people who might otherwise not have any exposure to animal rights messages. In Warsaw, we primarily carry out Cube of Truth demonstrations; which involves activists standing in cube formation displaying signs, and laptops playing graphic footage. A few other activists are designated to discuss animal rights with the public who are engaging with the demonstration.</p>
        <p>This form of activism is effective because one cannot diminish the severity of the animals’ suffering when they are viewing the pictures themselves. It forces people to confront an injustice they may have been unaware of, willingly or not. Because of the non-confrontational, yet assertive nature of Cube of Truth, passersby must walk up to us, we get lots of invested individuals who are interested in learning more about the cruelty of the animal agriculture industry and how they can make more compassionate choices. We have even seen people decide against going in the restaurant our Cube was near. These events are most effective with large numbers, and are easy for new activists, so come to our next cube!</p>
        </div>

        <h2>Watch the Footage</h2>
        <div class="about-save">
          <ul>
            <li><a href="https://youtu.be/CLNC_rRUPfA">The Meat Industry 1</a></li>
            <li><a href="https://youtu.be/sQLh-pBDMsI">The Meat Industry 2</a></li>
            <li><a href="https://youtu.be/sKrI7hTj3mg">The Dairy Industry</a></li>
            <li><a href="https://youtu.be/M9BteurP8Jc">Where Eggs Come From</a></li>
            <li><a href="https://youtu.be/LHHo3RLEC8w">What is Bacon?</a></li>
          </ul>
          <p>Now that you know, what will you do?<p>
          <p>Choose compassion, and <a href="">go vegan</a> for the animals.</p>
          </div>

      </div>

      <div class="sidebar">
        <h3>Upcoming Events</h3>

        {% for event in upcoming_events %}
          <div class="sidebar-event">
            <img src="{{ event.image.url }}">
            <h4>{{ event.title }}</h4>
            <ul>
              <li>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</li>
              <li>{{ event.address_title }}</li>
            </ul>
            <a href="{{ event.url }}" class="signup-button" id="event1">
              <h3>View details</h3>
            </a>
          </div>
        {% endfor %}

        {% if upcoming_events|length == 0 %}
        <div class="sidebar-event">
          <h4>Sorry, no upcoming events! Check back soon!</h4>
        </div>
        {% endif %}

      </div>

  </div>
</div>

{% endblock %}
