{% extends "core/_base.html" %}
{% load liberationphilly %}


{% block title %}
<div class"logo-word">Anonymous for the Voiceless</div>
{% endblock %}


{% block content %}
<div class="save-page">

  <div class="all-content">

    <div class="primary-content">

      <div class="video">
        <img src="/static/images/anonymous-cover.jpg">
      </div>

      <h2>About Anonymous for the Voiceless</h2>
      <div class="about-save">
        <p>The Save Movement is comprised of groups around the world who bear witness of pigs, cows, chickens and other farmed animals en route to slaughter. Our goals are to raise awareness about the plight of farmed animals, to help people become vegan, and to build a mass-based, grassroots animal justice movement. The Save Movement started in December 2010 with the inception of Toronto Pig Save. Today there are over 200 groups in Canada, the U.S., U.K. and Ireland, Australia, continental Europe, Hong Kong, and South America.</p>
        </div>

        <h2>Watch the Footage</h2>
        <div class="about-save">
          <ul>
            <li><a href="">The Meat Industry 1</a></li>
            <li><a href="">The Meat Industry 2</a></li>
            <li><a href="">The Meat Industry 3</a></li>
            <li><a href="">The Dairy Industry</a></li>
            <li><a href="">Where Eggs Come From</a></li>
            <li><a href="">What is Bacon?</a></li>
          </ul>
          <p>Now that you know, what will you do?<p>
          <p>Choose compassion, and <a href="">go vegan</a> for the animals.</p>
          </div>

      </div>

      <div class="sidebar">
        <h3>Upcoming Events</h3>

        {% for event in upcoming_events %}
          <div class="sidebar-event">
            <img src="{{ event.image.url }}">
            <h4>{{ event.title }}</h4>
            <ul>
              <li>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</li>
              <li>{{ event.address_title }}</li>
            </ul>
            <a href="{{ event.url }}" class="signup-button" id="event1">
              <h3>View details</h3>
            </a>
          </div>
        {% endfor %}

      </div>

  </div>
</div>

{% endblock %}
