{% extends "core/_base.html" %}
{% load liberationwarsaw %}


{% block title %}
<div class"logo-word">Anonymous for the Voiceless</div>
{% endblock %}


{% block content %}
<div class="save-page">

  <div class="all-content">

    <div class="primary-content">

      <div class="video">
        <img src="/static/images/anonymous-cover.jpg">
      </div>

      <h2>About Anonymous for the Voiceless</h2>
      <div class="about-save">
        <p>Anonymous for the Voiceless jest międzynarodową organizacją zajmującą się prawami zwierząt, specjalizującą się w aktywizmie ulicznym. Obecnie działa ponad 400 grup na całym świecie.</p>
        <p>Prowadzimy akcje bezpośrednie na ulicach, skuteczne w docieraniu do ludzi, wykorzystując lokalne nagrania pokazujące standardowe praktyki traktowania zwierząt tzw. hodowlanych. Wykorzystujemy również technologię rzeczywistości wirtualnej, treściwe zasoby informacji oraz dyskusję, aby wyposażyć przechodniów we wszystko, czego potrzebują, żeby przejść na wegański tryb życia. Jesteśmy abolicjonistami, jeśli chodzi o wykorzystywanie zwierząt.</p>
        </div>

        <h2>Sprawdź nasze materiały</h2>
        <div class="about-save">
          <ul>
            <li><a href="https://www.youtube.com/watch?v=dvtVkNofcq8">Przemysł mięsny</a></li>
            <li><a href="https://youtu.be/CLNC_rRUPfA">Przemysł mięsny 2</a></li>
            <li><a href="https://youtu.be/sQLh-pBDMsI">Przemysł mięsny 3</a></li>
            <li><a href="https://youtu.be/sKrI7hTj3mg">Przemysł mleczarski</a></li>
            <li><a href="https://youtu.be/M9BteurP8Jc">Skąd pochodzą jajka?</a></li>
            <li><a href="https://youtu.be/LHHo3RLEC8w">Czym jest bekon?</a></li>
          </ul>
          <p>Teraz, kiedy wiesz, co zrobisz?<p>
          <p>Wybierz współczucie i przejdź na <a href="http://www.zostanwege.pl/zostan-wege-na-30-dni/">weganizm</a> dla zwierząt </p>
          </div>

      </div>

      <div class="sidebar">
        <h3>Nadchodzące wydarzenia</h3>

        {% for event in upcoming_events %}
          <div class="sidebar-event">
            <img src="{{ event.image.url }}">
            <h4>{{ event.title }}</h4>
            <ul>
              <li>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</li>
              <li>{{ event.address_title }}</li>
            </ul>
            <a href="{{ event.url }}" class="signup-button" id="event1">
              <h3>View details</h3>
            </a>
          </div>
        {% endfor %}

        {% if upcoming_events|length == 0 %}
        <div class="sidebar-event">
          <h4>Przepraszamy, brak nadchodzących wydarzeń! Sprawdź wkrótce!</h4>
        </div>
        {% endif %}

      </div>

  </div>
</div>

{% endblock %}
