{% extends "core/_base.html" %}

{% block title %}
<div class"logo-word">O organizacji<br />Liberation Warsaw</div>
{% endblock %}


{% block content %}

<h2>Zarządzenia Liberation Warsaw</h2>

Są to reguły dla Liberation Warsaw, organizacji zajmującej się ochroną praw zwierząt. Regulamin może zostać zmieniony poprzez proces decyzyjny określony w zakładce Podejmowanie decyzji.
Nasza misja
Liberation Warsaw jest grupą abolicjonistyczną poświęconą całkowitemu wyzwoleniu wszystkich zwierząt. Stosujemy kombinację taktyki działań bezpośrednich, w tym czuwanie przed ubojniami, protesty i demonstracje oraz edukacja społeczeństwa w zakresie praw zwierząt.
Wartości grupowe
Bez przemocy. Nigdy nie używamy przemocy. Odpowiadamy na przemoc z powściągliwością i współczuciem. Używamy komunikacji bez użycia przemocy.
Równość gatunkowa. Wszystkie istoty zasługują na tę samą moralną uwagę niezależnie od gatunku. Nie popieramy dyskryminacji gatunkowej objawiającej się w przekonaniach czy działaniach.
Bez hierarchii. Każdy członek ma równą moc podejmowania decyzji.
Transparentność. Każdy członek grupy ma prawo mieć wgląd do decyzji, które podjęliśmy. Powinniśmy być transparentni w naszych działaniach, nie dając nikomu powodów do nieufności.
Wzmacnianie głosów marginalizowanych. Podczas gdy rasizm i seksizm przenikają zarówno społeczeństwo, jak i ruch na rzecz praw zwierząt, staramy się stworzyć przestrzeń, która nadaje priorytet bezpieczeństwu i głosowi kobiet, ludzi odmiennych ras, członków grup LGBTQ+ i wszystkich innych zmarginalizowanych społeczności. Staramy się współpracować ze zmarginalizowanymi społecznościami, aby nasze przesłanie nie przyczyniało się do ucisku jakiejkolwiek innej grupy.
Radical Candor. Radical Candor to umiejętność bezpośredniego stawienia wyzwania członkom naszej grupy z jednoczesnym zaopiekowaniem się nimi. Radical Candor pomoże Tobie i wszystkim członkom naszej grupy wykonać najlepszą pracę, jednocześnie budując poczucie własnej wartości oparte na wzajemnym wspieraniu się.
Struktura organizacyjna
Będąc grupą niehierarchiczna, wciąż istnieje potrzeba organizacji i podziału pracy, aby osiągnąć nasze cele. W ten oto sposób dzielimy pracę.
Członkowie Liberation Warsaw
Każdy, kto uczestniczył w jednym spotkaniu Liberation Warsaw w ciągu ostatnich 6 miesięcy, może zostać uznany za członka i powinien mieć dostęp do naszych dyskusji grupowych, grup pracujących i procesu podejmowania decyzji.


Grupy zadaniowe
Grupa zadaniowa jest podzbiorem ogólnej populacji członków, którzy są odpowiedzialni wobec reszty grupy za określony zakres zadań. Każda GZ powinna spotykać się regularnie i wykorzystywać konsensus w swojej grupie do podejmowania własnych decyzji.
Podczas gdy grupy zadaniowe podejmą większość decyzji związanych z ich zadaniami w sposób autonomiczny, będą odpowiedzialne przed wszystkimi członkami za osiągnięcie tego, nad czym pracują. Wszyscy członkowie mają możliwość wypracowania konsensusu, aby unieważnić jakąkolwiek decyzję GZ w dowolnym momencie.
Grupy zadaniowe powinny być otwarte dla każdego członka, niezależnie od umiejętności i doświadczenia, i chętne do nauczania i promowania wyłaniającego się przywództwa w ramach swojej grupy.
Obecne grupy obejmują:
AV
WAS
Outreach
Sztuka
Media społecznościowe
Wszystkie grupy zadaniowe

Raz w miesiącu członkowie każdej grupy zadaniowej powinni spotykać się, aby omówić bieżące wydarzenia, obszary, w których potrzebna jest pomoc oraz planowanie na dużą skalę. Spotkania WGZ są otwarte dla wszystkich członków, a wydarzenia z tych spotkań powinny być dostępne dla każdego zainteresowanego członka.

Podejmowanie decyzji
Decyzje są podejmowane w drodze konsensusu.
O tworzeniu konsensusu
Podejmowanie decyzji w oparciu o konsensus to kreatywny i dynamiczny sposób na osiągnięcie porozumienia między wszystkimi członkami grupy. Grupa używająca konsensusu zobowiązuje się do znalezienia rozwiązań, które wszyscy aktywnie wspierają lub przynajmniej mogą żyć z nimi w zgodzie. Gwarantuje to uwzględnienie wszystkich opinii, pomysłów i wątpliwości. Dzięki wzajemnemu słuchaniu, grupa stara się opracować propozycje, które będą odpowiednie dla wszystkich.
Z definicji w konsensusie nie podejmuje się żadnej decyzji wbrew woli jednostki lub mniejszości. Jeżeli poważne problemy pozostaną nierozwiązane, propozycję można zablokować i uniemożliwić jej kontynuowanie. Oznacza to, że cała grupa musi ciężko pracować nad znalezieniem rozwiązań, które rozwieją obawy wszystkich, zamiast ignorować lub unieważniać opinie mniejszości.



Próg trafności
Konsensus jest wymagany tylko od osób bezpośrednio dotkniętych decyzją lub od wszystkich członków, gdy dotyczy to albo 1) bezpieczeństwa członków, albo 2) strategii organizacji na dużą skalę.
Jeśli próg trafności nie zostanie osiągnięty, konsensus z tą konkretną osobą nie jest wymagany. Jednak wkład wszystkich członków w każdą decyzję, istotną lub nie, powinien zawsze być traktowany bardzo poważnie.

Logistyka
Podczas spotkań grupy zadaniowej lub WGZ, konsensus można sformułować, po prostu składając wniosek i żądając konsensusu. Oczekuje się, że każda osoba blokująca wniosek zaproponuje poprawkę lub alternatywną propozycję, która umożliwi grupie kontynuację pracy.
Decyzje podejmowane przez grupę zadaniową powinny być przejrzyste dla wszystkich członków i mogą być blokowane przez każdego członka, który spełnia próg trafności.
Podejmując decyzję, w której powinni uczestniczyć wszyscy członkowie, należy umieścić post na czacie grupowym, wyjaśniając propozycję i dołączając link do ankiety. Należy dołożyć wszelkich starań, aby zachęcić wszystkich członków grupy do udziału w ankiecie.

Głosowania nigdy nie będą wychodziły poza misję, taktyki czy wartości, które wyznajemy w ramach działania Liberation Warsaw. Wyjątkiem jest głosowanie nad zmianą wartości, misji lub taktyki. Głosy, które nie mieszczą się w naszych wartościach (np. głosowanie na użycie przemocy lub włączenie hierarchii), mogą zostać uznane za nieważne.

Tworząc kworum
Aby osiągnąć konsensus w sprawie, która wymaga całej grupy, 25% grupy musi uczestniczyć w procesie (zaokrąglone w dół do najbliższej całej osoby). Ze względu na te dane i tylko te dane "cała grupa" zostanie zdefiniowana jako osoby w pokoju rozmów Riot.

Aby osiągnąć konsensus na posiedzeniu wszystkich grup zadaniowych, kworum określa się jako 50% zwykłych członków. Ze względu na te dane i tylko te dane, "zwykli członkowie" zostaną zdefiniowani jako osoby w pokoju rozmów WGZ Riot.

Aby osiągnąć konsensus w grupie zadaniowej, kworum wynosi 75% uczestniczących członków (definiowanych jako członkowie, którzy regularnie uczestniczą w posiedzeniach GZ - "regularne" mogą być dalej definiowane przez poszczególne grupy zadaniowe).



Transparentność
Przejrzystość jest ważna, ponieważ wyłączność do informacji tworzy hierarchię między tymi, którzy mają dostęp, a tymi, którzy go nie mają. Nasila się nieufność wśród członków społeczności oraz między organizacją a światem zewnętrznym.

Transparentność należy uwzględnić szczególnie w następujących obszarach:
Jak i dlaczego podejmowane są decyzje
Informacje finansowe, w tym pozyskiwanie funduszy i wydatki
Błędy i porażki, by sprostać naszym wartościom
Procesy, dzięki którym osiągnęliśmy sukces

Finansowanie
to be updated...

Kultura
Feminizm
Jesteśmy grupą feministyczną, która uznaje wszystkich członków jako równych, niezależnie od identyfikacji płciowej. Przemoc i ludzie, którzy ją okazują nie są tolerowani w naszej przestrzeni.

Przeciwko rasizmowi
Nie tolerujemy rasizmu w naszej grupie i wymagamy rozważenia, w jaki sposób nasze ewentualne działania mogą szkodzić ludziom różnych ras i narodowości.

Przeciwko wykorzystywaniu ludzi
Nie popieramy wyzysku ludzi ani w naszym obecnym systemie, ani w żadnym przyszłym systemie, niezależnie od wyzwolenia zwierząt.
Wpływ środowiska
Staramy się pozostawić po sobie jak najmniej szkód jak to możliwe na tej planecie. Bierzemy pod uwagę wpływ naszych działań na środowisko.

Szanowanie wolności
Szanujemy wolność wszystkich osób. Zachęcamy wszystkich naszych członków do korzystania z bezpłatnego i bezpiecznego oprogramowania i chętnie podejmujemy dodatkowe kroki, aby zapewnić, że jest to możliwe dla wszystkich.
Rozwiązanie konfliktów
(zostanie uformowana grupa do rozwiązywania konfliktów)



{% endblock %}
