{% extends "core/_base.html" %}
{% load liberationphilly %}


{% block title %}
<div class"logo-word">Liberation</div>
<div class="logo"></div>
<div class"logo-word">Philadelphia</div>
{% endblock %}


{% block content %}
<div class="home-content">
  <div class="home-events-and-text">
    <div id="calendar-head">
      <h2 id="event-header">Upcoming Events</h2>
      <a href="/events" class="view-more">
        <h3>View all</h3>
      </a>
    </div>

    <div class="upcoming-events">

      {% if upcoming_events|length != 0 %}

        <div class="all-events">
          {% for event in upcoming_events %}
            <div class="event">
              <div class="{{ event.icon }} icon"></div>
              <div class="event-details">
                <h3>{{ event.title }}</h3>
                <h4>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</h4>
                <a href="{{ event.link }}" target="_blank" class="signup-button">
                <h3>View details</h3>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="email-form">
          <form action="" method="post" class="subscribe-form">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Subscribe to Updates" class="subscribe-button"/>
          </form>
        </div>

      {% endif %}

    </div>

    <div class="info-section">
      <h2>Together, we can achieve animal liberation</h2>
      <p>We believe that non-humans animals should be legally recognized as persons. We believe it is possible to achieve this in less than 40 years. We've set a goal to <strong>ban meat in Philadelphia by 2033</strong>; it's mostly symbolic, but we do believe it will happen <em>if we all show up</em>.</p>
      <p>We believe in a world where all sentient beings, human and non-human, are free from the bonds of oppression. We have seen throughout history groups of oppressed people overthrow their oppressors and take back their inalienable rights. Humans must be the ambassadors for non-human animals, whose interests are overlooked. We aim to speak on behalf of these animals and fight for their rights to be respected. <em>Animal liberation</em> is just a theoretic concept to some, but to us it is an inevitability.</p>
      <p>Liberation Philly is dedicated to being a feminist and anti-racist organization, and follows non-hierarchical organizing principles. We encourage people from all walks of life to get involved and welcome new members to participate in the capacities they feel compelled.</p>
      <a href="/events" class="call-to-action-button">
        <h3>Join the Movement</h3>
      </a>
    </div>

    <div class="info-section">
      <h2>Based on past social justice movements</h2>
      <p>Unlike other animal rights groups, we operate using successful tactics of past social justice movements, and analyze history and social science to guide our actions and decisions. We use strategies that have a long history of raising societal consciousness, sparking conversation, and pushing silenced issues to the forefront of debate.</p>
      <p>From Ghandi to Martin Luther King Jr. to Emmeline Pankhurst, non-violent direct action has proven to mobilize the masses across the world. This is the mobilization we are now creating for animal liberation.</p>
      <a href="https://www.directactioneverywhere.com/direct-action-everywhere-evidence" target="_blank" class="call-to-action-button">
        <h3>Learn More</h3>
      </a>
    </div>

    <div class="info-section">
      <h2>About Us</h2>
      <p>Liberation Philly is an umbrella organization which also organizes for <a href="/save">Philly Farmed Animal Save</a> and the <a href="/anonymous">Philly chapter of Anonymous for the Voiceless</a>. We are a non-hierarchical, grassroots group which makes decisions based on consensus. We value transparency, emergent leadership, and amplifying marginalized voices. Liberation Philly has been operating in Philadelphia since 2014 (previously under the name "DxE Philly").</p>
      <p>We host a variety of activism events including monthly Days of Action, Vigils and Cubes of Truth, in addition to community building and education events, such as our monthly New Activist Orientation and animal volunteer days with various local sanctuaries.</p>
      <a href="/about" class="call-to-action-button">
        <h3>Our Tactics and Values</h3>
      </a>
    </div>

  </div>
</div>
{% endblock %}
