{% extends "core/_base.html" %}
{% load liberationwarsaw %}


{% block title %}
<div class"logo-word">Warsaw Animal Save</div>
{% endblock %}


{% block content %}
<div class="save-page">

  <div class="all-content">

    <div class="primary-content">

      <div class="video">
        <img src="/static/images/save-cover.jpg">
      </div>

      <h2>Warsaw Animal Save</h2>
      <div class="about-save">
        <p>The Save Movement to międzynarodowa inicjatywa prozwierzęca, działająca w ponad 300 miejscach na świecie. Jesteśmy świadkami ostatniej drogi zwierząt przeznaczonych na rzeź. </p>
        <p>Bycie świadkiem to przede wszystkim obecność. </p>
        <p>W naszym milczącym proteście staramy się zwrócić zwierzętom ich indywidualność jako jednostek mających prawo do życia takie samo, jak każda inna istota. Stajemy przy nich, by zaświadczyć o ich cierpieniu oraz wyrazić swój sprzeciw wobec spotykającego je okrucieństwa. </p>
        <p>Przybądźcie dać świadectwo naszej niezgody na uprzedmiotowienie krów, świń, kur oraz innych zwierząt ‘hodowlanych’. Spróbujmy z należną im godnością i szacunkiem pożegnać je u bram rzeźni. Będziemy czuwać w pobliżu miejsca, w którym są zabijane.</p>
        <p>Nasza demonstracja ma charakter pokojowy; będziemy przebywać w miejscu publicznym, w granicach prawa. Z uwagi na zwierzęta nie będziemy wznosić żadnych okrzyków, będziemy milczącymi świadkami ich cierpienia. </p>
        <p>Udostępnijcie światu historię tych zwierząt, tak aby ich tragedia nie dotykała już przyszłych pokoleń. Spójrzcie w oczy ofiarom, pokażcie, że nie jesteście obojętni!</p>

        <p>Tutaj dowiedz się więcej o <a href="http://thesavemovement.org/">The Save Movement</a>.</p>

        </div>


      </div>

      <div class="sidebar">
        <h3>Nadchodzące wydarzenia</h3>

        {% for event in upcoming_events %}
          <div class="sidebar-event">
            <img src="{{ event.image.url }}">
            <h4>{{ event.title }}</h4>
            <ul>
              <li>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</li>
              <li>{{ event.address_title }}</li>
            </ul>
            <a href="{{ event.url }}" class="signup-button" id="event1">
              <h3>View details</h3>
            </a>
          </div>
        {% endfor %}

        {% if upcoming_events|length == 0 %}
        <div class="sidebar-event">
          <h4>Przepraszamy, brak nadchodzących wydarzeń! Sprawdź wkrótce!</h4>
        </div>
        {% endif %}

      </div>

  </div>
</div>

{% endblock %}
