{% extends "core/_base.html" %}
{% load liberationphilly %}


{% block title %}
<div class"logo-word">Philly Farmed Animal Save</div>
{% endblock %}


{% block content %}
<div class="save-page">

  <div class="all-content">

    <div class="primary-content">
      <h2>About The Save Movement</h2>
      <div class="about-save">
        <p>The Save Movement is comprised of groups around the world who bear witness of pigs, cows, chickens and other farmed animals en route to slaughter. Our goals are to raise awareness about the plight of farmed animals, to help people become vegan, and to build a mass-based, grassroots animal justice movement. The Save Movement started in December 2010 with the inception of Toronto Pig Save. Today there are over 200 groups in Canada, the U.S., U.K. and Ireland, Australia, continental Europe, Hong Kong, and South America.</p>
        <p>Philly Farmed Animal Save was founded in 2017 by Liberation Philadelphia. If you would like to get involved, please contact Mary Kate at mkfain1@gmail.com</p>
        </div>
      </div>

      <div class="sidebar">
        <h3>Upcoming Events</h3>

        {% for event in upcoming_events %}
          <div class="sidebar-event">
            <img src="http://via.placeholder.com/350x150">
            <h4>{{ event.title }}</h4>
            <ul>
              <li>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</li>
              <li>{{ event.address_title }}</li>
            </ul>
            <a href="{{ event.url }}" class="signup-button" id="event1">
              <h3>View details</h3>
            </a>
          </div>
        {% endfor %}

      </div>

  </div>
</div>

{% endblock %}
